#blog
{
    /* text-align: center; */
    margin: 5% 20%;
}
#blog-title 
{
    font-size: 250%;
    color: black;
    font-family: 'Titan One', cursive;
    text-align: center;
}
#blog-title > a
{
    color: black;
}
.text-content
{
    text-align: left;
    font-family: 'Varela Round', sans-serif; 
    margin-top: 20px;
    font-size: 110%;
}
.text-content > li
{
    margin-left: 5rem;
}