@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&family=Varela+Round&display=swap');

body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content
{
    flex: 1;
}
.email-me
{
    width: 60%;
    margin: 30px auto;
}
h1
{
    text-align: center;
    font-family: 'Titan One', cursive;
    font-size: 2.7rem;
    padding: 10px 0;
}
p
{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1rem;
    padding: 10px 0;
}
.contact-form
{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.3em;
    margin: 0 auto;
    text-align: center;
    width: 75%;
    max-width: 800px;
    min-width: 300px;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, .25);
    padding: 30px;
    border-radius: 10px;
}
input[type = text], input[type = email], textarea
{
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    padding: 10px;
    margin: 10px;
}
button
{
    font-family: 'Varela Round', sans-serif;
    display: inline-block;
    width: 100px;
    margin: 20px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    line-height: 30px;
    transition: ease-in .5s;
    text-decoration: none;
}

button:hover
{
    transition: ease-in .5s;
    background-color: black;
    color: white;
}

footer
{
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    /* margin-top: 20vh; */
    text-align: center;
    background-color: rgba(0, 0, 0, .85);
    height: 125px;
}

@media screen and (max-width: 595px)
{
    h1
    {
        font-size: 2.0rem;
    }
    p
    {
        text-align: center;
        font-size: 1rem;
    }
}
/* For phone screens */
@media screen and (max-width: 400px)
{
    h1
    {
        font-size: 1.7rem;
    }
}