/* Google Font: Titan One */
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&family=Varela+Round&display=swap');
/* The star means that it selects everything inside the body. */
* 
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content
{
    flex: 1;
}

/**************************************** Bio Start ***************************************/
.me-section h2
{
    font-family: 'Titan One', cursive;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
.me-section img
{
    border-radius: 50rem;
    width: 250px;
    grid-column: 1/2;
    margin: auto auto;
    
    
}
.me-section
{
    display: grid;
    grid-template-columns: 300px 50px 700px;
    /* This centers the grid. */
    justify-content: center;
    padding: 40px;
    
}
.bio
{
    grid-column: 3/4;
    width:700px;
    padding: 10px;
}
.bio p
{
    font-family: 'Varela Round', sans-serif; 
    font-size: 1.5rem;
    
}
/**************************************** Bio End ***************************************/
/**************************************** Grey Line Start ***************************************/
.grey-line
{
    width: 98%;
    height: 2px;
    background-color: grey;
    margin: 6vh auto;
}
/**************************************** Grey Line End ***************************************/
/**************************************** Graphic Nav Start ***************************************/
.graphic-nav
{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 10%;
    justify-content: center;
    margin: 20px 30px;
    
}
/**************************************** Graphic Nav End ***************************************/
/**************************************** Resume Block Start ***************************************/
.gra
{
    text-align: center;
    background-color: #444444;
    width: 100%;
    text-decoration: none;
    border-radius: 2rem;
    padding: 4px;
}
.title
{
    padding: 5px;
    font-family: 'Titan One', cursive; 
    margin-bottom: 8px;
    color: white;
}
.icon
{
    font-size: 100px;
    color: white;
}
.projects-icon
{
    font-size: 100px;
    color: white;
}
.grow
{
    transition: all .2s ease-in-out;
}
.grow:hover
{
    transform: scale(1.1);
    box-shadow: 10px 5px 5px grey;
}
/**************************************** Resume Block End ***************************************/
/**************************************** Projects Block Start ***************************************/
.projects
{
    text-align: center;
}
/**************************************** Projects Block End ***************************************/
/**************************************** Footer Start ***************************************/
footer
{
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    margin-top: 20vh;
    text-align: center;
    background-color: rgba(0, 0, 0, .85);
    height: 125px;
}
footer p
{
    padding: 20px;
    font-size: 1rem;
    color: white;
    font-family: 'Varela Round', sans-serif;

}
footer a
{
    padding: 10px;
    color: white;
    font-size: 40px;
}
.grow-icons
{
    transition: all .2s ease-in-out;
}
.grow-icons:hover
{
    transform: scale(1.2);
}
/**************************************** Footer End ***************************************/
@media screen and (max-width: 1030px) 
{
    .me-section img
    {
        width: 200px;
    }
    .me-section
    {
        grid-template-columns: 200px 20px 1fr;
    }    
    .bio
    {
        margin: 0 auto;
        width: 500px;
    }
    .bio p
    {
       font-size: 1.2rem; 
    }
}
@media screen and (max-width: 735px)
{
    /* Footer acts weird on home page. Duct tape for the moment.*/
    /* footer
    {
        bottom: -300px;
    } */
    
}